
.button-36 {
  background-image: linear-gradient(92.88deg, #93aaba 9.16%, #93aaba 43.89%, #93aaba 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  width: 20rem;
  padding: 0 1.9rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 15px;
}

.button-36:hover {
  box-shadow: rgba(108, 139, 153, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

.input-container{
	position:relative;
	margin-bottom:25px;
  margin-top: 60px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#93aaba;	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#93aaba;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #637d8f;	
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}
.box-R{
	position:absolute;
	left:60%;
	top:40%;
	transform: translate(-40%,-40%);
    background-color: rgb(255, 255, 255);
	border-radius:0px;
	padding:70px 80px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.box-L{
	position:absolute;
	left:35%;
	top:40%;
	transform: translate(-40%,-40%);
    background-color: rgb(121, 145, 160);
	border-radius:0px;
	padding:135px 14px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.longBox{
	position:absolute;
	left:37%;
	top:40%;
	transform: translate(-40%,-40%);
    background-color: #89a1b3;
	border-radius:0px;
	padding:400px 5px;
}

.p1{
  position:absolute;
	left:15%;
	top:20%;
	transform: translate(-40%,-40%);
  background-color: rgba(255, 255, 255, 0);
	border-radius:0px;
  border-bottom: 3px solid #637d8f;
	padding:15px 120px;
}
.p2{
  position:absolute;
	left:15%;
	top:30%;
	transform: translate(-40%,-40%);
  background-color: rgba(255, 255, 255, 0);
	border-radius:0px;
  border-bottom: 3px solid #637d8f;
	padding:15px 120px;
}

.p3{
  position:absolute;
	left:15%;
	top:40%;
	transform: translate(-40%,-40%);
  background-color: rgba(255, 255, 255, 0);
	border-radius:0px;
  border-bottom: 3px solid #637d8f;
	padding:15px 120px;
}

.p4{
  position:absolute;
	left:15%;
	top:50%;
	transform: translate(-40%,-40%);
  background-color: rgba(255, 255, 255, 0);
	border-radius:0px;
  border-bottom: 3px solid #637d8f;
	padding:15px 120px;
}

.p5{
  position:absolute;
	left:15%;
	top:60%;
	transform: translate(-40%,-40%);
  background-color: rgba(255, 255, 255, 0);
	border-radius:0px;
  border-bottom: 3px solid #637d8f;
	padding:15px 120px;
}

h1{
  color:#ffffff;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

.pro {
  color:#93aaba;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  margin-left: 11%;
  top: 10px;
}


.auth {
  color:#93aaba;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  margin-top: -50px;
  margin-left: 50px;
}

.button-48 {
  appearance: none;
  background-color: #ffffff00;
  border-width: 0;
  box-sizing: border-box;
  color: #7b7878b9;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  left:30%;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

img {
  margin-left: 40%;
}


.button-26 {
  background-image: linear-gradient(92.88deg, #93aaba 9.16%, #93aaba 43.89%, #93aaba 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  width: 40rem;
  padding: 0 1.9rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 55px;
  margin-left: 50%;
}

.button-26:hover {
  box-shadow: rgba(108, 139, 153, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-26 {
    padding: 0 2.6rem;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}

.form__label {
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  color: #5f7280;
  font-size: 1.2rem;
  margin-left: 44%;
  margin-top: -3%;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  color: #333;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  border-radius: 0.2rem;
  background-color: #89a1b39d;
  border: none;
  width: 30%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

.form__group{
  margin-top: 7%;
  margin-left: 10%;
}
